<div class="about-me back-blue" id="about">
    <div class="about-me-split">
        <img class="img-fluid" src="./img/sebastiano-fassina.jpeg" alt="Sebastiano's photo">
        
        <div>
            <h2 class="fs-2 mb-3">About Sebastiano Fassina</h2>
            <p>My journey into health and wellness began with a life-changing diagnosis of Type 1 Diabetes at age 21. Driven by a deep desire for healing, I immersed myself in studying nutrition, neuroscience, and ancient healing methods. Living and working across Italy, Australia, and Canada, I crafted a holistic health approach focused on rhythm, resilience, and the body's natural intelligence. My book, RESET: Restore Your Natural Energy from Within, invites readers to reconnect with their innate energy and rediscover vibrant health in a modern world. Through my experiences, I aim to inspire and support others on their wellness journeys.</p>
        </div>
    </div>
</div>

<style>
    .about-me {
        padding: 3.5rem 2rem;

        .about-me-split {
            display: flex;
            gap: 3.5rem;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;

            img {
                max-height: 250px;
                border-radius: 8px;
            }
        }
    }

    @media (max-width: 768px) {
        .about-me-split {
            flex-direction: column;
        }
    }
</style>