---
---
<div class="jumbo back-light" id="books">
    <div class="jumbo-text">
        <h1 class="jumbo-title">Reset</h1>
        <p><span class="fw-bold">Restore you Natural Energy from Within</span> blends modern neuroscience, functional biology, and ancient healing systems such as Taoist practices, going far beyond surface-level wellness advice.</p>

        <p class="fw-bold">Inside this book you will learn how to:</p>
        <ul class="custom-bullet ps-3">
            <li><span class="dot">•</span> Reset your circadian rhythm.</li>
            <li><span class="dot">•</span> Calm down your nervous system.</li>
            <li><span class="dot">•</span> Release tension throught movement.</li>
            <li><span class="dot">•</span> The power of Self-Talk.</li>
            <li><span class="dot">•</span> Heal the gut-brain connection.</li>
        </ul>

        <div class="buy-links">
            <a class="btn btn-outline-primary" href="https://payhip.com/b/7HCW0" target="_blank">
                <img class="btn-img-payhip" src="./img/payhip.png" alt="PayHip logo">
            </a>
            <a class="btn btn-outline-primary" href="https://133028268700.gumroad.com/l/vonsei" target="_blank">
                <img class="btn-img-gumroad" src="./img/gumroad.png" alt="Gumroad logo">
            </a>
        </div>
    </div>

    <img class="jumbo-image img-fluid" src="./img/cover-3d-transparent.png" alt="book">
</div>

<style>
    .jumbo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        padding: 0 3.5rem 5rem 3.5rem;

        .jumbo-text {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 350px;

            .jumbo-title {
                font-size: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-style: italic;
            }

            .jumbo-description {
                color: #000;
                font-size: 1.2rem;
            }

            .jumbo-cta {
                margin-top: 1rem;
            }
        }

        .jumbo-image {
            max-height: 500px;
        }

        .buy-links {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;

            a.btn {
                display: inline-flex;
                align-items: center;
                background: #fff;

                .btn-img-payhip {
                    height: 25px;
                }

                .btn-img-gumroad {
                    height: 10px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .jumbo {
            flex-direction: column-reverse;

            .jumbo-text {
                width: 300px;
            }

            .buy-links {
                flex-direction: column;
                align-items: center;

                a.btn {
                    justify-content: center;
                    min-height: 60px;
                    width: 200px;
                    padding: 12px 6px;

                    .btn-img-payhip {
                        height: 30px;
                    }

                    .btn-img-gumroad {
                        height: 15px;
                    }
                }
            }
        }
    }
</style>